JWT_SECRET=asdf

# Server Configuration
DATABASE_URL="postgresql://neondb_owner:npg_9x3QaZbqAfdn@ep-morning-sea-ahxro7dy-pooler.c-3.us-east-1.aws.neon.tech/job-portal?sslmode=require&channel_binding=require"
PORT=8080
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:3000,http://localhost:3001
FRONTEND_URL=http://localhost:3000

BLOB_READ_WRITE_TOKEN="vercel_blob_rw_mTwdzEWYNX4X2s2O_aOoLd4aHWzM83TWRWYzheovIhmTw8J"

# Payment Gateway Configuration (AmeriaBank)
AMERIABANK_CLIENT_ID=c771a553-1b4e-450e-bda2-032ac9c9be77
AMERIABANK_USERNAME=3d19541048
AMERIABANK_PASSWORD=lazY2k
AMERIABANK_VPOS_URL=https://servicestest.ameriabank.am/VPOS/api/VPOS/InitPayment
AMERIABANK_VPOS_STATUS_URL=https://servicestest.ameriabank.am/VPOS/api/VPOS/GetPaymentDetails
BACKEND_URL=https://job-portal-backend-eight-sand.vercel.app

UNIMTX_ACCESS_KEY_ID=UQaHRxkc9zRqLLmRqssjEw
UNIMTX_ACCESS_KEY_SECRET=TzgRkvQwuL7uSdoch1czFBRzoDRSyM
UNIMTX_SENDER_ID=GorcKa
UNIMTX_TEMPLATE_ID=f781135d

# SOCkET
PUSHER_APP_ID=2075923
PUSHER_KEY=eab65b0505effea41789
PUSHER_SECRET=863aa6ccf1c0dad6ff8e
PUSHER_CLUSTER=eu

# Referral Rewards Configuration
REFERRAL_REWARD_AMOUNT=5.0
REFERRAL_BONUS_AMOUNT=5.0
WELCOME_BONUS_AMOUNT=5.0

# TEST CARD
# Card number:  4083060013681818
# Cardholder:     TEST CARD VPOS
# Exp. date:         05/28
# CVV:                  233